<header>
  <!-- Navbar
  ================================================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- logo -->
        <a class="brand logo" href="index.html">
          <img src="assets/img/logo.png" alt="" width="150px" />
        </a>
        <!-- end logo -->

        <!-- top menu -->
        <div>
          <nav>
            <ul class="nav topnav">
              <li class="dropdown success active">
                <a routerLink="/"><i class="icon-home icon-white"></i> Home</a>
                <ul class="dropdown-menu">
                  <li routerLinkActive="active"><a routerLink="/home" >Home</a></li>
                  <li routerLinkActive="active"><a routerLink="/aboutus">About us</a></li>
                  <li routerLinkActive="active"><a routerLink="/ourservice">Our services</a></li>
                </ul>
              </li>
              <li class="dropdown primary">
                <a href="#"><i class="icon-star icon-white"></i> Events</a>
                <ul class="dropdown-menu">
                  <li><a href="javascript.html">Javascripts</a></li>
                  <li class="dropdown"><a href="#">3rd level</a>
                    <ul class="dropdown-menu sub-menu">
                      <li><a href="#">Example menu</a></li>
                      <li><a href="#">Example menu</a></li>
                      <li><a href="#">Example menu</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown danger">
                <a href="#"><i class="icon-leaf icon-white"></i> Education</a>
                <ul class="dropdown-menu">
                  <li><a href="portfolio-alt3.html">10th STD</a></li>
                  <li><a href="portfolio-alt3.html">11th STD</a></li>
                  <li><a href="portfolio-alt3.html">12th STD</a></li>
                </ul>
              </li>
              <li class="dropdown warning">
                <a href="#"><i class="icon-camera icon-white"></i> Career</a>
                <ul class="dropdown-menu">
                  <li><a href="pricingtable.html">Pricing table</a></li>
                  <li><a href="faq.html">F.A.Q</a></li>
                  <li><a href="fullwidth.html">Fullwidth</a></li>
                  <li><a href="404.html">404</a></li>
                </ul>
              </li>

              <li class="dropdown info">
                <a href="#"><i class="icon-bullhorn icon-white"></i> Blog</a>
                <ul class="dropdown-menu">
                  <li><a href="blog_left_sidebar.html">Blog left sidebar</a></li>
                  <li><a href="blog_right_sidebar.html">Blog right sidebar</a></li>
                  <li><a href="post_left_sidebar.html">Post left sidebar</a></li>
                  <li><a href="post_right_sidebar.html">Post right sidebar</a></li>
                </ul>
              </li>
              <li class="inverse">
                <a href="contact.html"><i class="icon-envelope icon-white"></i> Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end menu -->
      </div>
    </div>
  </div>
</header>
