<header>
  <!-- Navbar
  ================================================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- logo -->
        <a class="brand logo" href="index.html">
          <img src="assets/img/logo.png" alt="" width="150px" />
        </a>
        <!-- end logo -->

        <!-- top menu -->
        <div>
          <nav>
            <ul class="nav topnav">
              <li class="dropdown success" routerLinkActive="active">
                <a routerLink="/home"><i class="icon-home icon-white"></i> Home</a>
                <ul class="dropdown-menu">
                  <li routerLinkActive="active"><a routerLink="/aboutus">About us</a></li>
                  <li routerLinkActive="active"><a routerLink="/ourservice">Our services</a></li>
                </ul>
              </li>
              <li class="dropdown primary" routerLinkActive="active">
                <a routerLink="/events"><i class="icon-star icon-white"></i> Events</a>
                <!-- <ul class="dropdown-menu">
                  <li><a href="javascript.html">Javascripts</a></li>
                  <li class="dropdown"><a href="#">3rd level</a>
                    <ul class="dropdown-menu sub-menu">
                      <li><a href="#">Example menu</a></li>
                      <li><a href="#">Example menu</a></li>
                      <li><a href="#">Example menu</a></li>
                    </ul>
                  </li>
                </ul> -->
              </li>
              <li class="dropdown danger" routerLinkActive="active">
                <a routerLink="/edu"><i class="icon-leaf icon-white"></i> Education</a>
                <!-- <ul class="dropdown-menu">
                  <li><a href="portfolio-alt3.html">10th STD</a></li>
                  <li><a href="portfolio-alt3.html">11th STD</a></li>
                  <li><a href="portfolio-alt3.html">12th STD</a></li>
                </ul> -->
              </li>
              <li class="dropdown warning" routerLinkActive="active">
                <a routerLink="/job"><i class="icon-bullhorn icon-white"></i> Jobs</a>
               
              </li>

              <li class="dropdown info" routerLinkActive="active">
                <a routerLink="/blog"><i class="icon-camera icon-white"></i> Blog</a>
                <!-- <ul class="dropdown-menu">
                  <li ><a >VAP Blog</a></li>
                 
                </ul> -->
              </li>
              <li class="inverse" routerLinkActive="active">
                <a routerLink="/contactus"><i class="icon-envelope icon-white"></i> Contact</a>
              </li>
             
            </ul>
          </nav>
        </div>
        <!-- end menu -->
      </div>
    </div>
  </div>
</header>
