<section id="maincontent">
  <div class="container">

    <div class="row">
      <div class="span3">
        <h3 class="heading-success"><span class="btn btn-large btn-success"><i
              class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;Main features</h3>
        <p>VAP Student offers several trending courses in Chennai for the aspiring candidates. We aim to make the IT
          dreams of our students come true by providing career-oriented training. We are happy when students are placed
          in top companies after getting trained from us.
        </p>
      </div>
      <div class="span3">
        <div class="well well-primary box">
          <img src="assets/img/icons/box-1-white.png" alt="" />
          <h3>Dot Net MVC</h3>
          <p>
            Experience as a DOTNET Developer or Application Developer.<br>
            ASP.NET framework, SQL Server and design/architectural patterns.
          </p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="span3">
        <div class="well well-success box">
          <img src="assets/img/icons/box-2-white.png" alt="" />
          <h3>Angular + Dot Net</h3>
          <p>
            Atleat 1 year exp in Angular 4/5/6<br>
            C# with Dot net core Web API
          </p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="span3">
        <div class="well well-warning box">
          <img src="assets/img/icons/box-3-white.png" alt="" />
          <h3>MEAN Stack</h3>
          <p>
            Angular 6 with MongoDB
          </p>
          <a href="#">Read more</a>
        </div>
      </div>
    </div>

    <!-- divider -->
    <div class="row">
      <div class="span12">
        <div class="divider"></div>
      </div>
    </div>
    <!-- end divider -->
  </div>
</section>
