<section id="maincontent">
  <div class="container">

    <div class="row">
      <div class="span3">
        <h3 class="heading-success"><span class="btn btn-large btn-success"><i
              class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;Main features</h3>
        <p>VAP Student offers several trending courses in Vadakku Ariyanayagi Puram for the aspiring candidates. We aim
          to make the dreams of our student comes true by providing career-oriented training. We are happy when students are placed
          in top position after getting trained from us.
        </p>
      </div>
      <div class="span3">
        <div class="well well-primary box">
          <img src="assets/img/icons/box-1-white.png" alt="" />
          <h3>Education</h3>
          <p>
            Clearly explained the practical scenario of the text book information<br>
            to improove the intrest of study.
          </p>
          <a>Read more</a>
        </div>
      </div>
      <div class="span3">
        <div class="well well-success box">
          <img src="assets/img/icons/box-2-white.png" alt="" />
          <h3>Service</h3>
          <p>
            Clearly explained the practical scenario of the text book information<br>
            to improove the intrest to study.
          </p>
          <a>Read more</a>
        </div>
      </div>
      <div class="span3">
        <div class="well well-warning box">
          <img src="assets/img/icons/box-3-white.png" alt="" />
          <h3>Awareness</h3>
          <p>
            Clearly explained the practical scenario of the text book information<br>
            to improove the intrest to study.
          </p>
          <a>Read more</a>
        </div>
      </div>
    </div>

    <!-- divider -->
    <div class="row">
      <div class="span12">
        <div class="divider"></div>
      </div>
    </div>
    <!-- end divider -->
  </div>
</section>
