<section id="subintro">
  <div class="jumbotron subhead" id="overview">
    <div class="container">
      <div class="row">
        <div class="span8">
          <h3><i class="m-icon-big-swapright m-icon-white"></i> Events</h3>
          <p>Our Events...</p>
        </div>
        <div class="span4">
          <div class="input-append">
            <form class="form-search">
              <input type="text" class="input-medium search-query">
              <button type="submit" class="btn btn-inverse">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span6">

        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <img src="assets/img/events/1.jpg" alt="" />
              <div class="carousel-caption success">
                <h4>Planting Trees</h4>
                <p>by VAP Student </p>
              </div>
            </div>
            <div class="item">
              <img src="assets/img/events/2.jpg" alt="" />
              <div class="carousel-caption success">
                <h4>Planting Trees</h4>
                <p>by VAP Student</p>
              </div>
            </div>
            <div class="item">
              <img src="assets/img/events/3.jpg" alt="" />
              <div class="carousel-caption success">
                <h4>Planting Trees</h4>
                <p>by VAP Student.</p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>

      <div class="span6">
        <div class="tooltip-demo headline">
          <span class="comment"><a href="#" rel="tooltip" data-placement="top" title="Jul-2019">Coming July
              2019</a></span>
          <h4><a># Planting Trees</a></h4>

        </div>
        <p>
          Planting a tree is a lifelong investment. How well this investment grows depends on the type of tree selected
          and the planting location, the care provided during planting, and the follow-up care after planting.
          <br><br>Getting
          your new tree off to a healthy start will help the tree mature to its full size and ensures it will provide
          environmental, economic, and social benefits throughout its lifetime.
        </p>
      </div>

      <div class="row">
        <div class="span12">
          <div class="divider"></div>
        </div>
      </div>

    </div>
  </div>
</section>
