<section id="subintro">
  <div class="jumbotron subhead" id="overview">
    <div class="container">
      <div class="row">
        <div class="span8">
          <h3><i class="m-icon-big-swapright m-icon-white"></i> Job</h3>
          <p>Job Openings...</p>
        </div>
        <div class="span4">
          <div class="input-append">
            <form class="form-search">
              <input type="text" class="input-medium search-query">
              <button type="submit" class="btn btn-inverse">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="maincontent">
  <div class="container">
    <div class="row">

      <div class="span8">
        <!-- start article 3 -->
        <article class="blog-post">
          <div class="tooltip-demo headline">
            <h4><a># Recruiting Freshers</a></h4>
            <span class="comment"><a href="#" rel="tooltip" data-placement="top"
                title="18-Jun-2019">18-Jun-2019</a></span>
          </div>
          <a href="#"><img src="assets/img/jobs/cps.png" alt="" /></a>
          <div class="clearfix"></div>
          <blockquote>
            <p>
              looking for a job... Send your cv to<br>
              <span style="color: blue">nandhini.s@mailcps.com</span><br>
              Mention <span style="color: red">Reference : Muthuraman</span>
            </p>
          </blockquote>
          <ul class="post-meta">
            <li class="first"><i class="icon-user"></i> <span><a href="#">Recruiting Freshers</a></span></li>
            <li><i class="icon-list-alt"></i> <span><a href="#">CPS</a></span></li>
            <li class="last"><i class="icon-tags"></i> <span><a href="#">CHENNAI</a></span></li>
          </ul>
          <div class="clearfix"></div>
          <p>
            We are in the process of recruiting Fresher, we will be providing on the job training to candidates, hence
            they will be on stipend, during the first 3 months (this is for BE / MCA and hence will be slightly lower
            for other qualification). Candidate will be designated as Project Trainee, On successful completion of
            training, they will regularized onto the rolls of the company with a change in salary.
            <blockquote>
              <p>
                Our Requirement for Fresher:<br>
                Education: BE/B.Tech/MCA/ME/M.Tech/M.Sc<br>
                Stream: IT/CS/ECE<br>
                Year of Passing: 2018 or 2019<br>
                Other Qualification: Course completed in Dot Net/Angular JS (Not mandatory)<br>
                No. Of positions Vacant: 3
              </p>
            </blockquote>
            <b>Nature of Recruitment process for this position:</b><br>Fresher Test – Aptitude (CB, M&E), Logical
            Reasoning, GD,
            Dot Net Test and Technical discussion.<br><br>
            <u><b>Note:</b></u>We will be providing on the job training to candidates, hence they will be on stipend
            (Rs.10000/-),
            during the first 3 months (this is for BE / MCA and hence will be slightly lower for other qualification).
            Candidate will be designated as Project Trainee, On successful completion of training, they will
            regularized
            onto the rolls of the company with a change in salary as 2 Lacs per annum for next 9 months. On the 13th
            month (After completion of 1 year), performance will be evaluated and salary will change from 2.50 Lacs to
            3Lacs per annum for the next 1 year.<br><br>
            After successful completion of 2 years, they will be considered for General revision across the company
            thru
            appraisal. Candidates Need to be with the company for 2 years, Academic Certificate – 10th, 12th Mark
            Sheet
            & Provisional Certificate will be collected for Safety clause.<br><br>
            <button class="btn btn-primary" type="button">Good Luck</button>

        </article>

        <!-- end article 3 -->
        <!-- start article 1 -->
        <article class="blog-post">
          <div class="tooltip-demo headline">
            <h4><a># HCL</a></h4>
            <span class="comment"><a href="#" rel="tooltip" data-placement="top" title="18-Jun-2019">
                18-Jun-2019</a></span>
          </div>
          <div class="row">
            <div class="span3">
              <a href="#"><img src="assets/img/jobs/HCL.png" alt="" /></a>
            </div>

            <div class="span6">
              <ul class="post-meta">
                <li class="first"><i class="icon-user"></i> <span><a href="#">Relevant</a></span></li>
                <li><i class="icon-list-alt"></i> <span><a href="#">Various</a></span></li>
                <li class="last"><i class="icon-tags"></i> <span><a href="#">Madurai</a></span></li>
              </ul>
              <img src="assets/img/jobs/hcl1.jpeg" style="width:500px; height:665px; text-align: center" /><a
                class="btn btn-primary" href="assets/img/jobs/hcl1.jpeg" download="hcl">
                Download</a>
            </div>
          </div>
        </article>
        <!-- end article 1 -->
        <!-- start article 3 -->

        <article class="blog-post">
          <div class="tooltip-demo headline">
            <h4><a># HR Jobs</a></h4>
            <span class="comment"><a href="#" rel="tooltip" data-placement="top"
                title="17-Jun-2019">17-Jun-2019</a></span>
          </div>
          <div class="clearfix"></div>
          <blockquote>
            <p>
              looking for a hr job... Send your cv to<br>
              <span style="color: blue">sreecons1@gmail.com</span><br>
              <span style="color: blue">Venkat@sreeconsultancyservices.com</span><br>
              Mention <span style="color: red">Reference : Priya</span>
            </p>
          </blockquote>
          <ul class="post-meta">
            <li class="first"><i class="icon-user"></i> <span><a href="#">HR Jobs</a></span></li>
            <li><i class="icon-list-alt"></i> <span><a href="#">New Branch</a></span></li>
            <li class="last"><i class="icon-tags"></i> <span><a href="#">BANGALORE & CHENNAI</a></span></li>
          </ul>
          <div class="clearfix"></div>
          <p>
            For a new branch
            Executive -HR (Talent Acquisition profile ) in HR Department<br>
            1) Designation : Executives - HR 3 PROFILES<br>
            2) Hr RecruiterS--9 PROFILES -Qualification:Any Degree freshers needed<br>
            Location: BANGALORE & CHENNAI<br>
            Qualification: MBA in Human Resources<br>
            Experience : 0 - 2 Yrs<br>
            <blockquote>
              <p>
                Job Description:<br>
                *Mass/Bulk Hiring/BPO Hiring<br>
                *Company Internal Hiring/External Hiring<br>
                *End to End Recruitment<br>
                *Screening & Interviewing candidates<br>
                *Coordination with Operations team for further discussions<br>
                *Salary negotiations , offer making , joining formalities<br>
                Required Skills:Excellent Communication skills,<br>
                *Ability to work in a dynamic and challenging environment is essential.
              </p>
            </blockquote>
            Positions openings in our new branch at bangalore<br>
            Hr manager - 1 (34k)<br>
            Hr executives-3 (24k)<br>
            Hr recruiters-2 (18k) <br><br>

            <button class="btn btn-primary" type="button">Good Luck</button>
        </article>
        <!-- end article 3 -->

        <!-- start article 1 -->
        <article class="blog-post">
          <div class="tooltip-demo headline">
            <h4><a># Project Manager in SysTech</a></h4>
            <span class="comment"><a href="#" rel="tooltip" data-placement="top" title="14-Jun-2019">
                14-Jun-2019</a></span>
          </div>
          <div class="row">
            <div class="span3">
              <a href="#"><img src="assets/img/jobs/systech.png" alt="" /></a>
            </div>
            <div class="span6">
              <ul class="post-meta">
                <li class="first"><i class="icon-user"></i> <span><a href="#">Project Manager</a></span></li>
                <li><i class="icon-list-alt"></i> <span><a href="#">ERP</a></span></li>
                <li class="last"><i class="icon-tags"></i> <span><a href="#">Coimbatore</a></span></li>
              </ul>
              <div class="clearfix"></div>
              <p>
                Systech is into ERP product development focusing manufacturing, textile, retail & trading domains.
                Looking out for a project manager based out if coimbatore.
              </p>
              <img src="/assets/img/icons/pdf.png" style="width:20px; height:20px; text-align: center" /><a
                class="btn btn-primary" href="/assets/img/jobs/20190614_JD Project Manager.pdf" download="SysTech">
                Download JD</a>
            </div>
          </div>
        </article>
        <!-- end article 1 -->

        <!-- start article 2 -->
        <!-- <article class="blog-post">
          <div class="tooltip-demo headline">
            <h4><a href="#">Example article with slider images</a></h4>
            <span class="comment"><a href="#" rel="tooltip" data-placement="top" title="3 Comments">0
                comments</a></span>
          </div>
          <div class="row">
            <div class="span3">
              <a href="#"><img src="assets/img/dummies/blog2.jpg" alt="" /></a>
            </div>
            <div class="span6">
              <ul class="post-meta">
                <li class="first"><i class="icon-user"></i> <span><a href="#">John doe</a></span></li>
                <li><i class="icon-list-alt"></i> <span><a href="#">Web design</a></span></li>
                <li class="last"><i class="icon-tags"></i> <span><a href="#">Design</a>, <a href="#">Blog</a>, <a
                      href="#">Web page</a>, <a href="#">Clean</a></span></li>
              </ul>
              <div class="clearfix"></div>
              <p>
                Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril
                equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et
                mel, gloriatur concludaturque pro no. At ludus mediocritatem
                qui, no vituperata assueverit accommodare his. Eos simul tritani gubergren et, te vel ullum commodo
                docendi, ne sea regione laoreet iracundia. His menandri quaestio ea. Ea congue volutpat has, cu vim
                delenit offendit ullamcorper ius
                at agam.
              </p>
              <button class="btn btn btn-success" type="button">Read more</button>
            </div>
          </div>
          <ul class="post-meta">
            <li class="first"><i class="icon-user"></i> <span><a href="#">John doe</a></span></li>
            <li><i class="icon-list-alt"></i> <span><a href="#">Web design</a></span></li>
            <li class="last"><i class="icon-tags"></i> <span><a href="#">Design</a>, <a href="#">Blog</a>, <a
                  href="#">Web page</a>, <a href="#">Clean</a></span></li>
          </ul>
          <div class="clearfix"></div>
          <p>
            Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro aliquam adipiscing quo. Zril
            equidem et quo, ad albucius scripserit sit. Vis constituto deseruisse an, interesset reprehendunt et mel,
            gloriatur concludaturque pro no. At ludus mediocritatem
            qui, no vituperata assueverit accommodare his. Eos simul tritani gubergren et, te vel ullum commodo docendi,
            ne sea regione laoreet iracundia. His menandri quaestio ea. Ea congue volutpat has, cu vim delenit offendit
            ullamcorper ius at agam.
          </p>
          <button class="btn btn btn-success" type="button">Read more</button>
        </article> -->
        <!-- end article 2 -->



        <div class="pagination">
          <ul>
            <li><a>Prev</a></li>
            <li class="active"><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>Next</a></li>
          </ul>
        </div>
      </div>

      <div class="span4">
        <aside>
          <div class="widget">
            <h4 class="heading-success"><span class="btn btn-large btn-success"><i
                  class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;Alumni</h4>
            <img src="assets/img/avatar.png" class="alignleft" alt="" />
            <h5>Muthukutty</h5>
            <p>
              VAP Student is a leading education / software training institute...
            </p><a href="#">Profile detail..</a>
          </div>
          <div class="widget">
            <h4 class="heading-success"><span class="btn btn-large btn-success"><i
                  class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;Categories</h4>
            <ul>
              <li><a href="#">Class Room Training</a></li>
              <li><a href="#">Online Room Training</a></li>
              <li><a href="#">CorporateTraining</a></li>
              <li><a href="#">Our Trainers</a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="widget">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#recent" data-toggle="tab">Latest</a></li>
              <li><a href="#popular" data-toggle="tab">Popular</a></li>
              <li><a href="#comment" data-toggle="tab">Comment</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="recent">
                <ul class="recent">
                  <li>
                    <a href="#"><img src="assets/img/dummies/80x80/img4.png" width="60px" height="60px" class="alignleft" alt="" /></a>
                    <h6><a href="#">18-Jun-2019</a></h6>
                    <p>
                      1. CPS<br>
                      2. HCL
                    </p>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/dummies/80x80/img4.png" width="60px" height="60px" class="alignleft" alt="" /></a>
                    <h6><a href="#">17-Jun-2019</a></h6>
                    <p>
                      1. New Branch of Sree Consultancy<br>
                    </p>

                  </li>
                  <li>
                    <a href="#"><img src="assets/img/dummies/80x80/img4.png" width="60px" height="60px" class="alignleft" alt="" /></a>
                    <h6><a href="#">14-Jun-2019</a></h6>
                    <p>
                      1. Systech<br>
                    </p>

                  </li>
                </ul>
              </div>
              <div class="tab-pane fade" id="popular">
                <ul class="recent">
                  <li>
                    <a href="#"><img src="assets/img/dummies/80x80/img4.png" width="60px" height="60px" class="alignleft" alt="" /></a>
                    <h6><a href="#">CPS</a></h6>
                    <p>
                      Cognitive Platform Solutions
                    </p>
                    <a href="#">Read more..</a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/dummies/80x80/img1.jpg" class="alignleft" alt="" /></a>
                    <h6><a href="#">Adhuc disputando</a></h6>
                    <p>
                      At vero eos et accusam et justo duo dolores et eabum.
                    </p>
                    <a href="#">Read more..</a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/dummies/80x80/img2.jpg" class="alignleft" alt="" /></a>
                    <h6><a href="#">Duo te enim solum</a></h6>
                    <p>
                      Ei viris latine ullamcorper sed vim ex omnes.
                    </p>
                    <a href="#">Read more..</a>
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade " id="comment">
                <ul class="recent">
                  <li>
                    <a href="#"><img src="assets/img/icons/quote.png" class="alignleft" alt="" /></a>
                    <h6><a href="#">Rams Tvl</a></h6>
                    <p>
                      Excellent for Job Seekers.
                    </p>
                    <span>Post :17/06/2019</span>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/icons/quote.png" class="alignleft" alt="" /></a>
                    <h6><a href="#">MGS</a></h6>
                    <p>
                      VAP Student Rocks.
                    </p>
                    <span>Post :11/06/2019</span>
                  </li>
                  <li>
                    <a href="#"><img src="assets/img/icons/quote.png" class="alignleft" alt="" /></a>
                    <h6><a href="#">SMK</a></h6>
                    <p>
                      Good Start.
                    </p>
                    <span>Post :06/06/2019</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </aside>
      </div>

    </div>
  </div>
</section>
