
<section id="subintro">
  <div class="jumbotron subhead" id="overview">
    <div class="container">
      <div class="row">
        <div class="span8">
          <h3><i class="m-icon-big-swapright m-icon-white"></i> About us</h3>
          <p>VAP Student is a leading software training institute...
          </p>
        </div>
        <div class="span4">
          <div class="input-append">
            <form class="form-search">
              <input type="text" class="input-medium search-query">
              <button type="submit" class="btn btn-inverse">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span6">

        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <img src="assets/img/dummies/work1.jpg" alt="" />
              <div class="carousel-caption success">
                <h4>What We Offer</h4>
                <p>We provide high quality software training solutions and also offers educational assistance and
                  training for demandable Robotics Process Automation, Cloud Computing, Programming,Data Analytics
                  Courses.

                  All our Courses are aimed to improve the productivity of the business and help them to achieve their
                  goals. The Candidates would get the opportunity to learn all the latest technologies and skills to
                  stay at the fore front of their careers.</p>
              </div>
            </div>
            <div class="item">
              <img src="assets/img/dummies/work2.jpg" alt="" />
              <div class="carousel-caption success">
                <h4>How we do it</h4>
                <p>Our Software Training courses are delivered through various modes - classroom workshops, and
                  e-learning courses. We help you to leverage our training with your business goals. Our Learning
                  approach is complimenting the strengths, working on weaker areas and sustaining the leadership of the
                  business in a short span of time.</p>
              </div>
            </div>
            <div class="item">
              <img src="assets/img/dummies/work3.jpg" alt="" />
              <div class="carousel-caption success">
                <h4>Our Goal</h4>
                <p>Our purpose is to close the skill gap with the globally accredited national courses and building the
                  value for working professionals through the top trainers, certification through the respective bodies,
                  and a robust technology platform.</p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>

      <div class="span6">
        <h4>About us</h4>
        <p>
          VAP Student is a leading software training institute helping software professionals across various
          industries to develop expertise and get higher rewards on their career.
          We are passionate about improving your productivity through innovative educational solutions and services.
          Our trainers are handpicked real time working professionals in the field of IT not less than 6 year’s
          experience. We are towards the aim of bridging right candidate to the right technology.
        </p>
        <blockquote>
          <p>
            Our purpose is to close the skill gap with the globally accredited national courses and building the value
            for working professionals through the top trainers, certification through the respective bodies, and a
            robust technology platform.
          </p>
        </blockquote>
        <h4>Our expertise</h4>
        <label>Web development</label>
        <div class="progress progress-striped active">
          <div class="bar bar-success" style="width: 70%;"></div>
        </div>
        <label>Web design</label>
        <div class="progress progress-striped active">
          <div class="bar bar-success" style="width: 90%;"></div>
        </div>
        <label>Internet marketing</label>
        <div class="progress progress-striped active">
          <div class="bar bar-success" style="width: 40%;"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="divider"></div>
      </div>
    </div>
<!-- 
    <div class="row">
      <div class="span12">
        <h3 class="heading-success"><span class="btn btn-large btn-success"><i
              class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;Our awesome sponsors</h3>

        <div id="latest-work" class="carousel btleft">
          <div class="carousel-wrapper">

            <ul class="client">

              <li>
                <div class="tooltip-demo thumbnail">
                  <a href="#" data-rel="tooltip" data-placement="top" title="Company name"><img
                      src="assets/img/clients/cl-1.png" alt="" /></a>
                </div>
              </li>

              <li>
                <div class="tooltip-demo thumbnail">
                  <a href="#" data-rel="tooltip" data-placement="top" title="Company name"><img
                      src="assets/img/clients/cl-1.png" alt="" /></a>
                </div>
              </li>

              <li>
                <div class="tooltip-demo thumbnail">
                  <a href="#" data-rel="tooltip" data-placement="top" title="Company name"><img
                      src="assets/img/clients/cl-1.png" alt="" /></a>
                </div>
              </li>

              <li>
                <div class="tooltip-demo thumbnail">
                  <a href="#" data-rel="tooltip" data-placement="top" title="Company name"><img
                      src="assets/img/clients/cl-1.png" alt="" /></a>
                </div>
              </li>

              <li>
                <div class="tooltip-demo thumbnail">
                  <a href="#" data-rel="tooltip" data-placement="top" title="Company name"><img
                      src="assets/img/clients/cl-1.png" alt="" /></a>
                </div>
              </li>

              <li>
                <div class="tooltip-demo thumbnail">
                  <a href="#" data-rel="tooltip" data-placement="top" title="Company name"><img
                      src="assets/img/clients/cl-1.png" alt="" /></a>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</section>
