<section id="intro">
  <div class="jumbotron masthead">

    <div class="container">
      <div class="row">
        <div class="span12">
          <!-- <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
            <div class="item" *ngFor="let image of mySlideImages;let i = index">
             <div>
               <img src={{image}}/>
             </div>
            </div>
           </owl-carousel> -->
          <!-- <angular-image-slider [images]="imagesUrl"></angular-image-slider> -->
          <div id="slider" class="nivoSlider"> -->
            <img src="assets/img/slides/nivo/img5.jpg" data-thumb="assets/img/slides/nivo/img5.jpg" alt="" />
            <img src="assets/img/slides/nivo/img6.jpg" data-thumb="assets/img/slides/nivo/img6.jpg" alt=""
              title="#htmlcaption1" />
            <img src="assets/img/slides/nivo/img7.jpg" data-thumb="assets/img/slides/nivo/img7.jpg" alt=""
              data-transition="slideInLeft" />
            <img src="assets/img/slides/nivo/img8.jpg" data-thumb="assets/img/slides/nivo/img8.jpg" alt=""
              title="#htmlcaption2" /> -->
          </div>
          <div id="htmlcaption1" class="nivo-html-caption">
            <h2>Education</h2>
            <p>
              Experienced Teachers from VAP
              Student assure that you master creative problem solving.
            </p>
          </div>
          <div id="htmlcaption2" class="nivo-html-caption">
            <h2>Plant Trees</h2>
            <p>
              Tree-planting is the process of transplanting tree seedlings, generally for forestry, land reclamation, or
              landscaping purpose.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
