
<h3 class="heading-success"><span class="btn btn-large btn-success"><i
      class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;What pupil are saying</h3>

<div id="myCarousel" class="carousel slide testimonials">
  <div class="carousel-inner">
    <div class="item active">
      <div class="testimonial">
        <img src="assets/img/dummies/testimonial-author-1.png" alt="" />
        <blockquote>
          <p>
            Initially I don't have any idea about XII Maths. But after joining in this VAP Student, I have got more
            knowledge and feeling it is easy. Teacher clearly explained theoretically as well as practically. Thanks
          </p>
        </blockquote>
        <div class="info">
          <span class="author"><strong><a href="#">Karthik</a>,</strong></span>
          <span class="company">XII Std</span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="testimonial">
        <img src="assets/img/dummies/testimonial-author-2.png" alt="" />
        <blockquote>
          <p>
            Hi i have done cross course in VAP Student. They have given me full support, 
            when ever I am confused he helps me with a smiling face.. <br>thanks to VAP...
          </p>
        </blockquote>
        <div class="info">
          <span class="author"><strong><a href="#">Trisha</a>,</strong></span>
          <span class="company">XI Std</span>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
